<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="d-flex flex-column justify-content-center" style="padding:30px;">
    <div class="card" style="width:50%;align-self:center;">
        <h3 class="card-header" style="text-align:center;background-color:#001b36;color:white;">Detail Pilot</h3>
        <div class="card-body">
            <pre th:text="'Id               : '+ ${pilot.id} "></pre>
            <pre th:text="'Nama             : '+ ${pilot.nama} "></pre>
            <pre th:text="'NIK              : '+ ${pilot.nik} "></pre>
            <pre th:text="'Jenis Kelamin    : '+ ${pilot.jenisKelamin} "></pre>
            <pre th:text="'NIP              : '+ ${pilot.nip} "></pre>
            <pre th:text="'Tempat Lahir     : '+ ${pilot.tempatLahir} "></pre>
            <pre th:text="'Tanggal Lahir    : '+ ${pilot.tanggalLahir} "></pre>
            <pre th:text="'Sekolah          : '+ ${pilot.akademi.nama} "></pre>
            <pre th:text="'Maskapai         : '+ ${pilot.maskapai.namaMaskapai} "></pre>

        </div>

    </div>

</div>
</body>
</html>