<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="d-flex flex-column justify-content-center" style="padding:30px;">
    <div class="p-2">
        <div> <a href="/pilot/tambah" class="btn btn-dark">+ Tambah Pilot </a> </div>
    </div>
    <div class="p-2">
    <div class="card">
        <h3 class="card-header" style="text-align:center;background-color:#001b36;color:white;">Daftar Pilot</h3>

        <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>NIP</th>
                <th>NIK</th>
                <th>Tanggal Lahir</th>
                <th>Jenis Kelamin</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pilot, iterationStatus : ${listPilot}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pilot.nama}"></td>
                <td th:text="${pilot.nip}"></td>
                <td th:text="${pilot.nik}"></td>
                <td th:text="${pilot.tanggalLahir}"></td>
                <td th:text="${pilot.jenisKelamin}"></td>
                <td>
                    <a th:href="@{/pilot/view?id=}+${pilot.id}" class="btn btn-primary">View Pilot</a>
                    <a th:href="@{/pilot/change/}+${pilot.id}" class="btn btn-outline-primary">Change Data</a>
                    <a th:href="@{/pilot/delete/}+${pilot.id}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="container-fluid">
            <a href="/" class="btn btn-dark">Kembali</a>
        </div>
        </div>

    </div>
    </div>
</div>

</body>

</html>